# PDFs
SRS-doc.pdf
Gatas.pdf

# Dependencies
node_modules/

# Build output
dist/

# Environment
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Oops
CLAUDE.md

# SQL Dependencies
seed.sql
UID.sql